* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.main {
    display: flex;
    justify-content: center;
}

#minicalc {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    margin-top: 350px;
}

.minicalc-first {
    display: flex;
    align-items: center;
}

.minicalc-second {
    display: flex;
    align-items: center;
}

.first-number {
    margin-right: 50px;
}

.input {
    font-size: 17px;
    height: 30px;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background-color: rgb(189, 189, 189);
    margin-left: 15px;
}

.label {
    font-family: sans-serif;
    font-size: 30px;
    color: olive;
}

.bottom-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#button {
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 8%;
    border: none;
    background-color: rgb(189, 189, 189);
    color: olive;
}

.wrap-result {
    display: flex;
    justify-content: center;
}

#result {
    font-size: 20px;
    color: olive;
}